<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Back-end</display-name>
  <servlet>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>controller.IndexPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/Back/Index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Back/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Back/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.admin.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Back/Register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdCheck</servlet-name>
    <servlet-class>controller.IdCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheck</servlet-name>
    <url-pattern>/Back/IdCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderOngoing</servlet-name>
    <servlet-class>controller.order.OrderOngoingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderOngoing</servlet-name>
    <url-pattern>/Back/OrderOngoing.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderLog</servlet-name>
    <servlet-class>controller.order.OrderLogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderLog</servlet-name>
    <url-pattern>/Back/OrderLog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Board</servlet-name>
    <servlet-class>controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Board</servlet-name>
    <url-pattern>/Back/Board.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserList</servlet-name>
    <servlet-class>controller.member.UserListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/Back/UserList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Graph</servlet-name>
    <servlet-class>controller.GraphController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Graph</servlet-name>
    <url-pattern>/Back/Graph.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>controller.map.MapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/Back/Map.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calendar</servlet-name>
    <servlet-class>controller.CalendarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calendar</servlet-name>
    <url-pattern>/Back/Calendar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminView</servlet-name>
    <servlet-class>controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminView</servlet-name>
    <url-pattern>/Back/View.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelete</servlet-name>
    <servlet-class>controller.admin.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelete</servlet-name>
    <url-pattern>/Back/AdminDelete.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>AdminEdit</servlet-name>
    <servlet-class>controller.admin.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEdit</servlet-name>
    <url-pattern>/Back/AdminEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SellerBoardEdit</servlet-name>
    <servlet-class>controller.board.BoardViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerBoardEdit</servlet-name>
    <url-pattern>/Back/BoardView.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>controller.member.MemberEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEdit</servlet-name>
    <url-pattern>/Back/MemberEdit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberDelete</servlet-name>
    <servlet-class>controller.member.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDelete</servlet-name>
    <url-pattern>/Back/MemberDelete.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>EventWrite</servlet-name>
    <servlet-class>controller.event.EventWriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventWrite</servlet-name>
    <url-pattern>/Back/EventWrite.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>EventView</servlet-name>
    <servlet-class>controller.event.EventViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventView</servlet-name>
    <url-pattern>/Back/EventView.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>EventEdit</servlet-name>
    <servlet-class>controller.event.EventEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventEdit</servlet-name>
    <url-pattern>/Back/EventEdit.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>EventDelete</servlet-name>
    <servlet-class>controller.event.EventDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDelete</servlet-name>
    <url-pattern>/Back/EventDelete.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>NoMemberRegister</servlet-name>
    <servlet-class>controller.member.NoMemberRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoMemberRegister</servlet-name>
    <url-pattern>/Back/NoMemberRegister.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TruckEdit</servlet-name>
    <servlet-class>controller.member.TruckEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckEdit</servlet-name>
    <url-pattern>/Back/TruckEdit.do</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>TruckDelete</servlet-name>
    <servlet-class>controller.member.TruckDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TruckDelete</servlet-name>
    <url-pattern>/Back/TruckDelete.do</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>AjaxTest</servlet-name>
    <servlet-class>controller.AjaxController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest</servlet-name>
    <url-pattern>/Back/Ajax.do</url-pattern>
  </servlet-mapping>     
  <context-param>
    <param-name>ORACLE_DRIVER</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>ORACLE_URL</param-name>
    <param-value>jdbc:oracle:thin://localhost:1521:orcl</param-value>
  </context-param>
  <context-param>
    <param-name>TOMCAT_JNDI_ROOT</param-name>
    <param-value>java:comp/env</param-value>
  </context-param>
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/backend/pages/Index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>